/* HEADER SECTION */
.header {
  background-color: var(--color-dark);
  color: var(--color-light);
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header--nav {
  justify-content: space-between;
  padding: 1rem 2rem;
}

.nav--logo,
.nav--btn {
  color: var(--color-red);
}

.nav--logo {
  font-family: "Pacifico", cursive;
  font-weight: bold;
  font-size: clamp(1rem, 1.5vw, 1.7rem);
}

.nav--menu {
  flex-basis: 40%;
  justify-content: space-around;
}

.nav--btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  padding: 0;
}

.nav--menu-mobile {
  cursor: pointer;
  height: 100%;
  gap: 5px;
}

.nav--menu-mobile .bar {
  background-color: var(--color-light);
  height: 3px;
  width: 29px;
  transition: all ease-in-out 0.4s;
}

/* MAIN SECTION */
.main--hero {
  color: var(--color-light);
  height: 90vh;
  position: relative;
}

.hero--container {
  background-image: url(/resource/ivan-torres-MQUqbmszGGM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.hero--text {
  padding: 0 3rem;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
}

.hero--text h1 {
  font-size: clamp(1.4rem, 5.5vw, 3rem);
}

.hero--text p {
  margin-bottom: 2rem;
  opacity: 0.85;
}

.hero--text input {
  width: 90%;
}

.hero--text button {
  margin-left: -2rem;
  padding: 0.75rem 1rem;
}

.menu {
  height: 70vh;
  margin: 1rem 0;
}

.menu--container {
  height: 100%;
  padding: 0 3rem;
}

.menu--container h2 {
  font-size: clamp(2rem, 3vw, 2.5rem);
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
}

.menu--card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.menu--card div {
  background-color: var(--color-red);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.menu--card div:nth-child(1),
.menu--card div:nth-child(4) {
  background-color: var(--color-fade);
}

/* FOOTER SECTION */
.footer {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.footer--container {
  padding: 1rem;
}

.footer--h3 {
  font-size: 0.85rem;
}
